html {
    width:100%;
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(175, 175, 175);
}

.navbar{
    width: 100%;
    height: 80px;
    min-height: 80px;
    background-color: rgb(44, 44, 44);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.navbarLinks {
    grid-column: 1 / span 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbarAnchor {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.navbarLogin {
    grid-column: 5 / span 1;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 70px;
}

.movieContainer {

    display:flex;
    justify-content: center;
    align-items: start;
    width:auto;
    flex-grow:1;
    gap: 100px;
    margin-top: 75px;
    margin-bottom: 50px;
}

.posterContainer {
    display: flex;
    justify-content: center;
    align-items: center;

}

.posterContainer img {
    border: solid;
    border-radius: 5px;
    border-color: rgb(122, 122, 122);
    border-width: 2px;
}

.movieDetails {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.movieDetails h1 {
    margin-top: 0px;
}

.detailsSubDiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
}

li {
    list-style-type: none;
    margin-top:10px;
    margin-left:20px;

}

.genre p {
    margin-top: 36px;
    font-size: 12px;
}

.movieButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 200px;
    height: 100px;
}

.movieButtons a {
    text-decoration: none;
    cursor: default;
    color: black;
    width: 100%;
    text-align: center;
}

.movieButtons form {
    text-decoration: none;
    cursor: default;
    color: black;
    width:100%;
    height:100%;
}

.transparent {
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: default;
    overflow: hidden;
    outline: none;
    padding:0px;
    font-size:16px;
}

.movieButtons form input {
    width:0px;
    height:0px;
    margin:0px;
    display: none
}

.buttonBox {
    display:flex;
    width: 200px;
    justify-content: center;
    align-items: center;
    background-color: white;
    max-width: 200px;
    min-width: 150px;
    height: 50px;
    border: solid;
    border-radius: 10px;
    border-color: black;
    border-width: 1px;

}

.homeContainer {

    display:flex;
    justify-content: center;
    margin-bottom: 40px;
    padding: 40px;
}

.homeBackground {
    margin-top: 40px;
    margin-bottom: 40px;
    border: solid;
    border-color: black;
    border-radius: 10px;
    padding: 30px 70px 50px 70px;
    background-color: rgb(216, 216, 216);
    min-width: 700px;
}

.movieListTitle {
    width: 100%;
    display: flex;
    justify-content: center;
}

.movieListTitle h1 {
    margin-top: 20px;
    margin-bottom: 40px;
}

.movies {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
}

.noMovies {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.thumbnailContainer {
    display:flex;
    justify-content: start;
    align-items: center;
    gap: 50px;
    background-color: white;
    padding: 20px 40px 20px 30px;
    width: 700px;
    border: solid;
    border-radius: 10px;
    text-decoration: none;
    cursor:default;
    border-color: black;
    color: black;
    box-shadow: 5px 5px 5px gray;
}

.thumbnailRating {
    margin-left: auto;
}

.reviewContainer {
    width: 100%;
    min-height: 350px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    

    overflow: hidden;
}

.reviewBackground {
    border: solid;
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap: 25px;
    padding: 20px;
    margin-bottom: 70px;
}

.reviewBackground form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.reviewBackground form textarea {
    height: 150px;
    width: 500px;
    resize: none;
}

.reviewBackground form select {
    width: 50px;
    margin-left: 10px;
}

.reviewBackground form button {
    margin-left: auto;
}

.reviewBackground h2 {
    margin: 0px auto 0px 25px;
}

.bigSeparator {
    width: 95%;
    height: 2px;
    background-color: black;
    border-radius: 10px;
}

.placedReviewContainer {
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

#date {
    margin: 0px 35px 10px 35px
}

.reviewItem {
    margin: 10px 35px 25px 35px;
    word-break: break-all;
    white-space: normal;
    line-height: 1.5;
}

.placedReviewContainer a {
    margin: 0px 35px 35px 35px;
    color: black;
}

.smallSeparator {
    width: 90%;
    height: 1px;
    background-color: black;
    border-radius: 10px;
      margin: 0px auto 0px auto;
}

.clickedReviewContainer {
    display: flex;
    justify-content: center;
}

#clickedReviewBox {
    margin-top: 50px;
}

.commentContainer {
    width: 75%;
}

.commentItem {
    word-break: break-all;
    white-space: normal;
    line-height: 1.5;
}

.searchFormContainer {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchForm {
    display: flex;

}
.searchForm button {
    font-size: 25px;
    padding:auto;
    height: 56px;
    aspect-ratio: 1/1;
    padding-bottom: 5px;
}

.searchForm input {
    width: 400px;
    height: 50px;
    font-size: 25px;
}

.searchForm input:focus {
    outline: none;
}

.resultContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;

    margin-bottom: 50px;
    margin-top: 50px;
}

.userContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
}

.userSubContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    border: solid;
    border-color: black;
    border-radius: 10px;
    padding: 30px 70px 50px 70px;
    background-color: rgb(216, 216, 216);

}

.short-input {
    padding: 20px 16px;
    margin: 16px;
    border: 1px solid rgb(44,44,44);
    border-radius: 16px;
    transition: border-width 1s ease, border-color 1s ease;
}

.short-input:hover {
    border: 2px solid white;
}

.short-input:focus {
    border: 2px solid white;
    outline: none;
}


.short-input.full {
    width: calc(100% - 32pt);
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.content-center {
    max-width: 480pt;
    margin: 0 auto;
}

.container {
    max-width: 480pt;
    margin: 100pt auto;
    background-color: var(--box-color);
    border-radius: 4pt;
}

.container.narrow {
    max-width: 300pt;
}

.center-align{
    text-align: center;
}

.action-button {
    /* background-color: #657786; */
    background-color: rgb(44, 44, 44);
    color: #fff;
    border: 1px solid #000;
    border-radius: 16pt;
    padding: 8pt 16pt;
    cursor: pointer;
    font-size: 10pt;
    transition: border-size 0.5s, border-color 0.5s;
}

.action-button:hover {
    border: 1.5pt solid white;
}

.link {
    background-color: rgb(44, 44, 44);
    color: #fff;
    border: 1px solid #000;
    padding: 8pt 16pt;
    border-radius: 16pt;
    text-decoration: none;
    margin-left: 16pt;
    font-size: 10pt;
    transition: border-size 0.5s, border-color 0.5s;
}

.link:hover {
    border: 1.5pt solid white;
}
.title-header {
    font-size: 72px;
    margin: 0 auto;
    margin-top: 100px;
}

