<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {{> fragments/navbar}}
    <title>Spring Boot Mustache Hello World Example</title>
    <h2>{{message}}</h2>

</body>

</html>
