<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    
    <h1 class="title-header">Couch Critics</h1>

    <div class="container center-align narrow">
        <form action="/login" method="post">
            <input name="username" class="short-input full" type="text" placeholder="Username">
            <input name="password" class="short-input full" type="password" placeholder="Password">
            <button type="submit" class="action-button">Login</button>
            <a class="link" href="/register">Register</a>
        </form>
    </div>
</body>
</html>