<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{movie.title}} - Movie Details</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {{> fragments/navbar}}

    <main>
        <div class="movieContainer">
            <div class="posterContainer">
                <img class="poster" src="{{movie.posterLink}}" alt="Poster of {{movie.title}}" height="350">
            </div>

            <div class="movieDetails">
                <h1>{{movie.title}} ({{movie.year}})</h1>
                <p>Runtime: {{movie.runtime}}</p>
                <p>Average Rating: {{average}}</p>
                <p>{{movie.overview}}</p>

                <div class="detailsSubDiv">
                    <div class="genre">
                        Genre:
                        <ul>
                            {{#movie.genres}}
                                <li>{{.}}</li>
                            {{/movie.genres}}
                        </ul>
                    </div>

                    <div class="director">
                        Directed By:
                        <ul>
                            <li>{{movie.director}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="movieButtons">
            <div class="buttonBox">
                <a href="/"><p>Return Home</p></a>
            </div>

            <div class="buttonBox">
                <form method="post" action="/saved/{{movie.movieId}}" class="saveForm">
                    {{#movie.isSaved}}
                        <input type="hidden" name="add" value="false"/>
                        <button type="submit" class="transparent">Unsave Movie</button>
                    {{/movie.isSaved}}

                    {{^movie.isSaved}}
                        <input type="hidden" name="add" value="true"/>
                        <button type="submit" class="transparent">Save Movie</button>
                    {{/movie.isSaved}}
                </form>
            </div>
        </div>

        <div class="reviewContainer">
            <div class="reviewBackground">
                <form method="post" action="/movie/{{movie.movieId}}/createreview"> 
                    <div>
                        Pick a Score and Leave a Review:   
                        <select name="score">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option selected="selected">5</option>
                        </select>
                    </div>
                    <textarea name="review" class="reviewBox"></textarea>
                    <button type="submit">Submit</button>
                </form>
                <div class="bigSeparator"></div>
                <h2>Reviews:</h2>
                <div class="smallSeparator"></div>
                {{#reviews}}
                    <div class="singleReview">
                        <p><strong>Score:</strong> {{score}}</p>
                        <p><strong>Review:</strong> {{reviewText}}</p>
                        <p><strong>Date:</strong> {{reviewDate}}</p>
                        <p><strong>Couch Critic:</strong> {{firstName}} {{lastName}}</p>
                        <span><strong>Comments:</strong> {{commentCount}}</span>
                         <form action="/review/{{reviewId}}" method="get" style="display: inline-block; margin: 0;">
                            <button type="submit">View Comments</button>
                        </form>
                        <hr>
                    </div>
                {{/reviews}}
                {{^reviews}}
                    <p>No reviews yet.</p>
                {{/reviews}}
            </div>
        </div>
    </main>
</body>
</html>
