<div>
    
    <form method="post" action="/review/{{reviewId}}/createcomment"> 
            <textarea name="comment" class="reviewBox"></textarea>
            <button type="submit">Submit</button>
        </form>
</div>