<div class="commentContainer">
    <p class="commentItem">Date: {{commentDate}}</p>
    <p class="commentItem">By: {{firstName}} {{lastName}}</p>
    <p class="commentItem">Comment: {{commentText}}</p>
</div>