<div class="navbar">
    <div class="navbarLinks">
        <a class="navbarAnchor" href="/">Home</a>
        <a class="navbarAnchor" href="/search?movieName=">Movie Search</a>
        <a class="navbarAnchor" href="/saved">Saved Movies</a>
        <a class="navbarAnchor" href="/profile">Profile</a>
    </div>
    <div class="navbarLogin">
        <a class="navbarAnchor" href="/login">Logout</a>
        <a href="/"><img src="/images/couch.png" alt="logo" width="80" height="80" style="margin-left: 30px;"></a>
    </div>
</div>