<div class="reviewContainer">
    <div class="reviewBackground">
        <form method="post" action="/movie/{{movieId}}/createreview"> 
            <div>
                Pick a Score and Leave a Review:   
                <select name="score">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option selected="selected">5</option>
                </select>
            </div>
            <textarea name="review" class="reviewBox"></textarea>
            <button type="submit">Submit</button>
        </form>
        <div class="bigSeparator"></div>
        <h2>Reviews: </h2>
        <div class="smallSeparator"></div>
        {{#reviews}}
            {{> fragments/review}}
        {{/reviews}}
    </div>
</div>