<div class="placedReviewContainer">
    <p class="reviewItem"><b>Couch Critic:</b> {{firstName}} {{lastName}} </p>
    <p id="date" class="reviewItem"><b>Date:</b> {{reviewDate}}</p>
    <p class="reviewItem"><b>Score:</b> {{score}}/5</p>
    <p class="reviewItem">{{reviewText}}</p>
    {{^reviewPage}}
        {{#hasComments}}
            <a href = "/review/{{reviewId}}">View Comments ({{commentCount}})</a>
        {{/hasComments}}
        {{^hasComments}}
            <a href = "/review/{{reviewId}}">Leave a Comment</a>
        {{/hasComments}}
    {{/reviewPage}}
    <div class="smallSeparator"></div>
    
</div>