<div class="placedReviewContainer">
    <p class="reviewItem">Score: {{score}}/5</p>
    <p id="date" class="reviewItem">{{reviewDate}}</p>
    <p class="reviewItem">{{reviewText}}</p>
    {{#hasComments}}
    <a href = "/review/{{reviewId}}">View Comments ({{commentCount}})</a>
    {{/hasComments}}
    <div class="smallSeparator"></div>
    
</div>