<div class="searchFormContainer">
    <form method="get" action="/search" class="searchForm">
        <input type="text" name="movieName" class="searchBar" placeholder="Title"/>
        <input type="number" name="year" class="yearSelect" placeholder="Year"/>
        <button type="submit">🔎︎</button> 
    </form>
</div>